<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MEX" name="WCFReferenceService.PLCDataService">
        <endpoint address="net.tcp://localhost:9000/WCFReferenceService/"
          binding="netTcpBinding" bindingConfiguration="TransactionalTCP"
          name="TCPEndpoint" contract="WCFReferenceService.IPLCDataServiceContract" />
        <endpoint address="http://localhost:9001/WCFReferenceService/"
          binding="basicHttpBinding" name="HTTPEndpoint" contract="WCFReferenceService.IPLCDataServiceContract" />
        <endpoint address="MEX" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8877/WCFReferenceService/" />
            <add baseAddress="http://localhost:8878/WCFReferenceService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true"/>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <!--To avoid disclosing metadata information, 
          set the values below to false before deployment-->
          <serviceMetadata/>

          <!--To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
