<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HTTPEndpoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TCPEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/WCFReferenceService/"
                binding="netTcpBinding" contract="WCFRef.IPLCDataServiceContract"
                name="TCPEndpoint">
                <identity>
                    <userPrincipalName value="ULTRAWOLF\Mark" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9001/WCFReferenceService/"
                binding="basicHttpBinding" contract="WCFRef.IPLCDataServiceContract"
                name="HTTPEndpoint" />
        </client>
    </system.serviceModel>
</configuration>